<app-widgets-dropdown></app-widgets-dropdown>
<c-card class="my-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <!-- Title and Date Range -->
        <h4 class="card-title mb-0" id="traffic">Crane Performance</h4>
        <div class="small text-body-secondary">April - May 2024</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <!-- Download Button -->
        <button cButton class="float-end" color="primary">
          <svg cIcon name="cilCloudDownload"></svg>
        </button>
        <!-- Form for Selecting Traffic Period -->
        <form [formGroup]="trafficRadioGroup">
          <c-button-group class="float-end me-3" role="group">
            <!-- Radio Buttons for Period Selection -->
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Day"
            />
            <label
              (click)="setTrafficPeriod('Day')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >
              Day
            </label>
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Month"
            />
            <label
              (click)="setTrafficPeriod('Month')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >
              Month
            </label>
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Year"
            />
            <label
              (click)="setTrafficPeriod('Year')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >
              Year
            </label>
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    
    <!-- Acceleration and Gyro Charts Side by Side -->
    <c-row>
      <!-- Acceleration Chart -->
      <c-col xs="12" lg="6">
        <div *ngIf="accelerationChart.data">
          <c-chart type="line" [data]="accelerationChart.data" [options]="accelerationChart.options"></c-chart>
        </div>
      </c-col>
      
      <!-- Gyro Chart -->
      <c-col xs="12" lg="6">
        <div *ngIf="gyroChart.data">
          <c-chart type="line" [data]="gyroChart.data" [options]="gyroChart.options"></c-chart>
        </div>
      </c-col>
    </c-row>
    
    <!-- Vibration Chart -->
    <div *ngIf="vibrationChart.data">
      <c-chart type="line" [data]="vibrationChart.data" [options]="vibrationChart.options"></c-chart>
    </div>
  </c-card-body>
  <c-card-footer>
    <c-row class="text-center mb-2" [xl]="5" [lg]="4" [sm]="2" [xs]="1" [gutter]="4">
      <c-col>
        <div class="text-body-secondary">Device Name</div>
        <strong>Puck.js</strong>
        <c-progress class="mt-2" thin color="success" value="100"></c-progress>
      </c-col>
      <c-col>
        <div class="text-body-secondary">Readings</div>
        <div class="fw-semibold text-truncate">33 in span</div>
        <c-progress class="mt-2" thin color="info" value="100"></c-progress>
      </c-col>
      <c-col>
        <div class="text-body-secondary">Location</div>
        <div class="fw-semibold text-truncate">SCA Mechanical</div>
        <c-progress class="mt-2" thin color="warning" value="100"></c-progress>
      </c-col>
      <c-col>
        <div class="text-body-secondary">Devices in Use</div>
        <div class="fw-semibold text-truncate">Bluetooth</div>
        <c-progress class="mt-2" thin color="danger" value="100"></c-progress>
      </c-col>
      <c-col class="d-none d-xl-block">
        <div class="text-body-secondary">Country</div>
        <div class="fw-semibold text-truncate">Italy</div>
        <c-progress class="mt-2" thin value="100"></c-progress>
      </c-col>
    </c-row>
  </c-card-footer>
</c-card>

<!-- Widgets Brand Component -->
<!-- <app-widgets-brand [withCharts]="true"></app-widgets-brand> -->
<c-row class="mt-4">
  <c-col xs>
    <c-card class="mb-4">
    
      <c-card-header> <h4 class="card-title mb-0" id="traffic">Crane Lifts</h4> </c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col xs="6">
                <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3">
                  <div class="text-body-secondary text-truncate small">Total Items Lifted</div>
                  <div class="fs-5 fw-semibold">150</div>
                </div>
              </c-col>
              <c-col xs="6">
                <div class="border-start border-start-4 border-start-danger py-1 px-3 mb-3">
                  <div class="text-body-secondary text-truncate small">
                    Total Weight of Items Lifted
                  </div>
                  <div class="fs-5 fw-semibold">200KG</div>
                </div>
              </c-col>
            </c-row>
            <hr class="mt-0" />
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-body-secondary small">Monday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="info" value="34"></c-progress>
                <c-progress thin color="danger" value="78"></c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-body-secondary small">Tuesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="info" value="56"></c-progress>
                <c-progress thin color="danger" value="94"></c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-body-secondary small">Wednesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="info" value="12"></c-progress>
                <c-progress thin color="danger" value="67"></c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-body-secondary small">Thursday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="info" value="43"></c-progress>
                <c-progress thin color="danger" value="91"></c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-body-secondary small">Friday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="info" value="22"></c-progress>
                <c-progress thin color="danger" value="73"></c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-body-secondary small">Saturday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="info" value="53"></c-progress>
                <c-progress thin color="danger" value="82"></c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-body-secondary small">Sunday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="info" value="9"></c-progress>
                <c-progress thin color="danger" value="69"></c-progress>
              </div>
            </div>
            <div class="legend text-center d-none d-md-block" ngPreserveWhitespaces>
              <small>
                <sup>
                  <span class="badge badge-pill badge-sm bg-info">&nbsp;</span>
                </sup>
                <span>Daily Items</span>
                &nbsp;&nbsp;
                <sup>
                  <span class="badge badge-pill badge-sm bg-danger">&nbsp;</span>
                </sup>
                <span>Daily Weight</span>
              </small>
            </div>
          </c-col>

          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col xs="6">
                <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
                  <div class="text-body-secondary text-truncate small">Average Weight per Lift</div>
                  <div class="fs-5 fw-semibold">1.33KG</div>
                </div>
              </c-col>
              <c-col xs="6">
                <div class="border-start border-start-4 border-start-success py-1 px-3 mb-3">
                  <div class="text-body-secondary text-truncate small">Maximum Weight Lifted</div>
                  <div class="fs-5 fw-semibold">50KG</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilHourglass"></svg>
                <span>Operational Hours</span>
                <span class="ms-auto font-semibold">120 hrs</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="warning" value="50"></c-progress>
              </div>
            </div>
            <div class="progress-group mb-5">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilBalanceScale"></svg>
                <span>Monthly Item Limit</span>
                <span class="ms-auto font-semibold">30%</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="warning" value="30"></c-progress>
              </div>
            </div>


            
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<c-row class="mt-4">
  <c-col xs>
   
    <c-card class="mb-4">
      <c-card-header> <h4 class="card-title mb-0" id="traffic">Environmental Data History</h4> </c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
          <tr>
            <th class="bg-body-tertiary text-center">
              <svg cIcon name="cilPeople"></svg>
            </th>
            <th class="bg-body-tertiary">Measurement</th>
            
            <th class="bg-body-tertiary">Temperature</th>
            <th class="bg-body-tertiary text-center">Light Level</th>
            <th class="bg-body-tertiary">Activity</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of arrayItem; trackBy: trackByMeasurementNumber">
              <td class="text-center">
                <!-- <c-avatar [size]="'md'" src="{{ user.avatar }}" status="{{ user.status }}" /> -->
              </td>
              <td>
                <div>{{ user.measurementNumber }}</div>
                <div class="small text-body-secondary text-nowrap">
                  <span>{{ user.lightLevel }} | voltage Of: {{ user.voltage }}</span>
                </div>
              </td>
              
              <td>
                <div class="d-flex justify-content-between">
                  <div class="float-start">
                    <strong>{{ user.temperature }}%</strong>
                  </div>
                  <div class="float-end ms-1 text-nowrap">
                    <small class="text-body-secondary">{{ user.lightLevel }}</small>
                  </div>
                </div>
                <c-progress thin [value]="user.temperature" color="success"></c-progress>
              </td>
              <td class="text-center">
                <svg cIcon name="cibCc{{ user.lightLevel }}" size="xl"></svg>
              </td>
              <td>
                <div class="small text-body-secondary">Movement</div>
                <div class="fw-semibold text-nowrap">various</div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
